.green-1{
  color: #229451;
}
.green-2{
  color: #2D6A17;
}
.green-3{
  color: #89C2A0;
}
.font-24{
  font-size: 24px;
}
.border-r-16{
  border-right-width: 16px;
}
.border-l-16{
  border-left-width: 16px;
}
.rounded-30{
  border-radius: 30px;
}
.describe{
  font-size: 18px;
  font-weight: 500;
}
.date{
  font-size: 18px;
  font-weight: 600;
  color: rgb(31, 31, 31);
}
.award{
  font-size: 28px;
  color: #2D6A17;
  font-weight: 900;
}
.sub{
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.fundo{
  position: absolute;
  opacity: 0.3;
  width: 200px;
  height: 200px;
  margin-left: 25%;
  z-index: 1;
}
