.green-1{
  color: #229451;
}
.green-2{
  color: #2D6A17;
}
.green-3{
  color: #89C2A0;
}
.font-20{
  font-size: 20px;
}
.font-22{
  font-size: 22px;
}
.font-24{
  font-size: 24px;
}
.font-26{
  font-size: 26px;
}
.border-r-16{
  border-right-width: 16px;
}
.border-l-16{
  border-left-width: 16px;
}
.rounded-30{
  border-radius: 30px;
}
.describe{
  font-size: 18px;
  font-weight: 500;
}
.date{
  font-size: 18px;
  font-weight: 600;
  color: rgb(31, 31, 31);
}
.award{
  font-size: 28px;
  color: #2D6A17;
  font-weight: 900;
}
.sub{
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.fundo{
  position: absolute;
  opacity: 0.3;
  width: 200px;
  height: 200px;
  margin-left: 25%;
  z-index: 1;
}

/* Colorações */
.color-mega {
  border-color: #209869;
  color: #2D6A17;
}
.color-milionaria {
  border-color: #2E3078;
  color: #2E3078;
}
.color-lotofacil {
  border-color: #930089;
  color: #930089;
}
.color-quina {
  border-color: #323369;
  color: #323369;
}
.color-lotomania {
  border-color: #F78100;
  color: #F78100;
}
.color-timemania {
  border-color: #5EE24D;
  color: #5EE24D;
}
.color-duplasena {
  border-color: #A62927;
  color: #A62927;
}
.color-federal {
  border-color: #1B4A99;
  color: #1B4A99;
}
.color-loteca {
  border-color: #F8433F;
  color: #F8433F;
}
.color-diadesorte {
  border-color: #CB8530;
  color: #CB8530;
}
.color-supersete {
  border-color: #A8CF45;
  color: #A8CF45;
}
/* Botão bolão */
.btn-mega {
  background-color: #2D6A17;
  color: #FFF;
}
.btn-milionaria {
  background-color: #2E3078;
  color: #FFF;
}
.btn-lotofacil {
  background-color: #930089;
  color: #FFF;
}
.btn-quina {
  background-color: #323369;
  color: #FFF;
}
.btn-lotomania {
  background-color: #F78100;
  color: #FFF;
}
.btn-timemania {
  background-color: #5EE24D;
  color: #000;
}
.btn-duplasena {
  background-color: #A62927;
  color: #FFF;
}
.btn-federal {
  background-color: #1B4A99;
  color: #FFF;
}
.btn-loteca {
  background-color: #F8433F;
  color: #FFF;
}
.btn-diadesorte {
  background-color: #CB8530;
  color: #FFF;
}
.btn-supersete {
  background-color: #A8CF45;
  color: #000;
}

@media screen and (max-width: 600px){
  .text-xl{
    font-size: 18px;
  }
  .date{
    font-size: 14px;
  }
  .w-10{
    width: 2rem;
  }
}
