.green-1{
  color: #229451;
}
.green-2{
  color: #2D6A17;
}
.green-3{
  color: #89C2A0;
}
.font-20{
  font-size: 20px;
}
.font-22{
  font-size: 22px;
}
.font-24{
  font-size: 24px;
}
.font-26{
  font-size: 26px;
}
.border-r-16{
  border-right-width: 16px;
}
.border-l-16{
  border-left-width: 16px;
}
.rounded-30{
  border-radius: 30px;
}
.describe{
  font-size: 18px;
  font-weight: 500;
}
.date{
  font-size: 18px;
  font-weight: 600;
  color: rgb(31, 31, 31);
}
.award{
  font-size: 28px;
  color: #2D6A17;
  font-weight: 900;
}
.sub{
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.fundo{
  position: absolute;
  opacity: 0.3;
  width: 200px;
  height: 200px;
  margin-left: 25%;
  z-index: 1;
}

/* Colorações */
.border-mega {
  border-color: #209869;
}
.border-milionaria {
  border-color: #2E3078;
}
.border-lotofacil {
  border-color: #930089;
}
.border-quina {
  border-color: #2D1885;
}
.border-lotomania {
  border-color: #F78100;
}
.border-timemania {
  border-color: #2E3078;
}
.border-duplasena {
  border-color: #2E3078;
}
.border-federal {
  border-color: #2E3078;
}
.border-loteca {
  border-color: #2E3078;
}
.border-diadesorte {
  border-color: #2E3078;
}
.border-supersete {
  border-color: #2E3078;
}

@media screen and (max-width: 600px){
  .text-xl{
    font-size: 18px;
  }
  .date{
    font-size: 14px;
  }
  .w-10{
    width: 2rem;
  }
}
