<form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="49" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput value="Google">
    </mat-form-field>
    <mat-form-field fxFlex="49" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput value="Google">
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Assunto</mat-label>
        <input matInput value="Google">
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Mensagem</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" rows="10">Olá, gostaria de saber como funciona</textarea>
      </mat-form-field>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="rounded-30" color="accent" fxFlex="70"> Enviar mensagem</button>
    </div>
  </form>