<div class="w-10 mt-10" fxFlex="100" fxLayout="row wrap">
    <div class="w-100 justify-content-center flex" fxFlex="100">
      <button class="rounded-full bg-[#015DB7] text-white pt-1 pb-1 pl-8 pr-8 text-xl">Bolões</button>
    </div>

    <div class="mt-10 md:ml-36 md:mr-36" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div *ngFor="let card of cards" fxFlex.gt-sm="100" fxFlex.gt-md="49" fxFlex.gt-lg="49" class="mt-2 mb-2">
        <app-cards [card]="card"></app-cards>
      </div>
    </div>
</div>
