<div class="admin-p-5 bg-white" fxFlex="100">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Bolões</mat-card-title>
        <mat-card-subtitle>Cadastro de bolões para os clientes visualizarem</mat-card-subtitle>
        <span fxFlex></span>
        <div>
          <button mat-raised-button color="primary" (click)="newBolao()"><fa-icon [icon]="icons.plus"></fa-icon> NOVO</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group color="primary">
          <mat-tab label="Bolões Ativos" fxLayoutAlign="start center">
            <div fxFlex="100" fxLayout="row wrap" *ngIf="activeCards().length > 0; else noData">
              <div *ngFor="let card of activeCards()" fxFlex.gt-lg="33" fxFlex.gt-md="50">
                <app-admin-card [card]="card"></app-admin-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Bolões Inativos" fxLayoutAlign="start center" [disabled]="true">
            <div fxFlex="100" fxLayout="row wrap" *ngIf="cards.length > 0; else noData">
              <div *ngFor="let card of cards" fxFlex.gt-lg="33" fxFlex.gt-md="50">
                <app-admin-card [card]="card"></app-admin-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #noData>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" style="height: 200px;">
        <mat-icon style="width: 102px; height: 102px; font-size: 102px; color: silver;">desktop_mac</mat-icon>
        <span style="font-size: 18px; color: silver;">Sem dados para mostrar</span>
      </div>
    </div>
  </ng-template>
