<div class="about mt-5" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center" id="about">
  <div fxFlex.gt-sm="50" fxFlex="100" fxLayout="column" class="p-7">
    <span>Trazer alegria e realizações através dos nossos bolões e jogos é uma das nossas principais satisfações dentre os serviços lotéricos. E para isso, desenvolvemos nosso site, para ficar mais próximo de você!</span>
    <span class="mt-3">Junte seus amigos e venham participar dos bolões!</span>
    <span class="mt-3 font-black">Escolha algum dos nossos jogos logo acima e aproveite! ;D</span>
  </div>
  <div fxFlex.gt-sm="50" fxFlex="0">
    <div fxFlex="100" fxLayoutAlign="center center" class="div-about">
      <button class="rounded-full btn-about text-white pt-2 pb-2 pl-8 pr-8 text-xl">Sobre nós</button>
    </div>
    <img src="./assets/img/friends.png" width="100%" style="height: 30rem" id="img">
  </div>
</div>
