<div fxFlex="100" fxLayout="row wrap">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
        <h2>{{data ? 'Edição de Bolão' : 'Criar novo bolão'}}</h2>
        <button mat-mini-fab class="cancel"><mat-icon>cancel</mat-icon></button>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="100" appearance="standard">
                <mat-label>Number</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            <mat-form-field fxFlex="100" appearance="standard">
                <mat-label>Data do sorteio</mat-label>
                <input matInput type="date">
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="standard">
                <mat-label>Estimativa de prêmio</mat-label>
                <input matInput type="text" placeholder="450.000.000,00">
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="standard">
                <mat-label>Address 2</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
          </form>
    </div>
</div>