<div class="linha">
  <div class="topo1"></div>
  <div class="topo2"></div>
  <div class="topo3"></div>
</div>
<mat-toolbar>
  <div class="toolbar row-auto flex text-center">
    <img src="./assets/img/logo-iracema.png">
    <div class="menu">
      <button mat-button class="active">Bolões</button>
      <button mat-button>Resultados</button>
      <button mat-button>Contato</button>
      <button mat-button>Dúvidas</button>
    </div>
  </div>
</mat-toolbar>
<div class="content">
  <app-carousel></app-carousel>
  <app-boloes></app-boloes>
</div>
<footer>

</footer>
