.btn-answer{
    background-color: #2E679A;
}
ul{
    color: #f0f0f0;
}
.font-15{
    font-size: 15px;
}
.font-20{
    font-size: 20px;
}
.w-130{
    width: 130px;
}
::ng-deep .mat-expansion-panel-header,
.mat-expansion-toggle-indicator-after,
.mat-expanded:hover,
.mat-expansion-panel-header:hover,
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-title:hover,
.mat-expansion-panel,
.mat-expansion-panel:hover{
    background-color: #2E679A;
    color: #FFFFFF;
}
::ng-deep .mat-expansion-panel-body{
    background-color: #FFFFFF;
    color: #000;
}
.social{
    background-color: #C17113;
}
.white{
    color: white;
}
.font-size-18{
    font-size: 18px;
    font-family: 'Inter';
}
.font-size-16{
    font-size: 16px;
    font-family: 'Inter';
}