
<div class="linha mt-25">
    <div class="topo1"></div>
    <div class="topo2"></div>
    <div class="topo3"></div>
</div>
<footer id="footer">
  <div class="pt-4" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="100" fxLayoutAlign="center center">
      <button class="rounded-full btn-answer text-white pt-2 pb-2 pl-8 pr-8 text-xl">Perguntas frequentes</button>
    </div>
    <mat-accordion fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start" class="pt-4">
      <mat-expansion-panel fxFlex.gt-md="45" fxFlex="80" class="m-2" >
        <mat-expansion-panel-header>
          <mat-panel-title>Os bolões são os mesmos da loteria?</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p-1">Isso! É exatamente o mesmo tipo de jogo para você apostar a qualquer momento do conforto da sua casa!</p>
      </mat-expansion-panel>
      <mat-expansion-panel fxFlex.gt-md="45" fxFlex="80" class="m-2">
        <mat-expansion-panel-header>
          <mat-panel-title>Como funciona o pagamento?</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p-1">Basta escolher seu bolão no nosso site,
          preencher seus dados no formulário e efetuar o pagamento na próxima página.
          Nossos atendentes irão entrar em contato através do Whatsapp para confirmar a sua aposta e pronto,
          é só esperar a sorte te encontrar!</p>
      </mat-expansion-panel>
      <mat-expansion-panel fxFlex.gt-md="45" fxFlex="80" class="m-2">
        <mat-expansion-panel-header>
          <mat-panel-title>Se eu ganhar, como faço para receber o prêmio?</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p-1">Primeiramente, parabéns! Fala com a gente pelo whatsapp que estaremos verificando seus dados para dar início ao processo de entrega do seu prêmio.</p>
      </mat-expansion-panel>
      <mat-expansion-panel fxFlex.gt-md="45" fxFlex="80" class="m-2">
        <mat-expansion-panel-header>
          <mat-panel-title>As apostas individuais são as mesmas da lotérica?</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p-1">Exatamente as mesmas! Basta você selecionar os números e seguir os próximos passos.</p>
      </mat-expansion-panel>
      <mat-expansion-panel fxFlex.gt-md="45" fxFlex="80" class="m-2">
        <mat-expansion-panel-header>
          <mat-panel-title>Onde confiro o resultado dos jogos?</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p-1">Os resultados saem ao vivo no canal do YouTube da Caixa Econômica Federal: <a href='https://www.youtube.com/user/canalcaixa' target="_blank">Clique para ir para o canal oficial caixa</a></p>
      </mat-expansion-panel>
    </mat-accordion>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start">
      <div fxLayout.gt-md="row wrap" fxLayout.gt-sm="column" fxFlex.gt-md="40">
        <li fxFlex.gt-md="55">
          <ul><h2>Contato:</h2></ul>
          <ul class="flex items-center"><fa-icon [icon]="icons.whatsapp" class="pr-2 font-20"></fa-icon><span>(85) 3274.7360</span></ul>
          <ul class="flex items-center"><fa-icon [icon]="icons.email" class="pr-2 font-20"></fa-icon><span>lotericairacema@gmail.com</span></ul>
        </li>
        <li fxFlex.gt-md="45">
          <ul><h2>Horário de atendimento</h2></ul>
          <ul class="flex items-center" fxLayout="row"><span class="w-130">Segunda à Sexta:</span><span>07:30 - 18:00</span></ul>
          <ul class="flex items-center" fxLayout="row"><span class="w-130">Sábado:</span><span>07:30 - 13:00</span></ul>
        </li>
      </div>
      <div fxFlex="100" fxLayout="column">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center start" fxLayoutGap="20px">
          <div><a href="https://www.facebook.com/lotericairacema/" target="_blank"><button mat-mini-fab class="social"><fa-icon [icon]="icons.facebook" class="font-15"></fa-icon></button></a></div>
          <div><a href="https://www.instagram.com/lotericairacema/" target="_blank"><button mat-mini-fab class="social"><fa-icon [icon]="icons.instagram" class="font-15"></fa-icon></button></a></div>
          <div><a href="https://wa.me/+558532747360?text=Olá, tudo bem com você? Tenho uma dúvida!" target="_blank"><button mat-mini-fab class="social"><fa-icon [icon]="icons.whatsapp" class="font-15"></fa-icon></button></a></div>
        </div>
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" class="m-3">
          <span fxFlex></span>
          <span class="font-bold white font-size-18">Loteria Iracema</span>
          <span class="font-normal white font-size-16">todos os direitos reservados</span>
          <span fxFlex></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="linha">
  <div class="topo1"></div>
  <div class="topo2"></div>
  <div class="topo3"></div>
</div>
