<div class="linha">
  <div class="topo1"></div>
  <div class="topo2"></div>
  <div class="topo3"></div>
</div>
<mat-toolbar>
  <div class="toolbar md:mr-60 md:ml-60 row-auto flex text-center">
    <img src="./assets/img/logo-iracema.png">
    <div class="menu max-[600px]:hidden block">
      <button mat-raised-button class="button" (click)="redirectTo('boloes')">Bolões</button>
      <button mat-raised-button class="button" (click)="redirectTo('resultados')">Resultados</button>
      <button mat-raised-button class="button" (click)="redirectTo('sobre')">Sobre</button>
      <button mat-raised-button class="button" (click)="redirectTo('contato')">Contato</button>
      <button mat-raised-button class="button" (click)="redirectTo('footer')">Dúvidas</button>
    </div>
    <div class="hidden max-[600px]:block">
      <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><mat-icon>menu</mat-icon></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="redirectTo('boloes')">Bolões</button>
        <button mat-menu-item (click)="redirectTo('resultados')">Resultados</button>
        <button mat-menu-item (click)="redirectTo('sobre')">Sobre</button>
        <button mat-menu-item (click)="redirectTo('contato')">Contato</button>
        <button mat-menu-item (click)="redirectTo('footer')">Dúvidas</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
