<div fxFlex="100" fxLayout="row wrap">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
        <h2>{{data ? 'Edição de Bolão' : 'Criar novo bolão'}}</h2>
        <button mat-mini-fab class="cancel" (click)="dialogRef.close()"><mat-icon>cancel</mat-icon></button>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center" [formGroup]="newBolao">
            <mat-form-field fxFlex="100">
                <mat-label>Tipo de Bolão</mat-label>
                <input type="text"
                       placeholder="Escolha o tipo de bolão"
                       aria-label="Tipo do bolão"
                       matInput
                       formControlName="type"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex="100">
              <mat-label>Concurso</mat-label>
              <input matInput type="text" formControlName="concurso">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Data do jogo</mat-label>
                <input matInput type="date" formControlName="dtPremio">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Quantidade de jogos</mat-label>
                <input matInput type="number" formControlName="qntGames">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Quantidade de dezenas</mat-label>
                <input matInput type="number" formControlName="qntDezenas">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Quantidade de Cotas Compradas</mat-label>
                <input matInput type="number" formControlName="qntCota">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Quantidade de Cotas Totais</mat-label>
                <input matInput type="number" formControlName="qntTotalCota">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Valor da Cota</mat-label>
                <input matInput type="string" placeholder="15,56" formControlName="vlCota">
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Valor do Prêmio</mat-label>
                <input matInput type="string" placeholder="450.000.000,00" formControlName="vlPremio">
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>
            <button mat-raised-button fxFlex="100" color="accent" (click)="saveBolao()">Salvar</button>
          </form>
    </div>
</div>
