<!-- Início table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome do Funcionário </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email do funcionário </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div fxLayoutGap="10px" fxLayout="row">
        <!-- <button mat-mini-fab matTooltipPosition="after" matTooltip="Visualizar usuário" (click)="viewUser(element)"><mat-icon>remove_red_eye</mat-icon></button> -->
        <button mat-mini-fab matTooltipPosition="after" matTooltip="Editar usuário" (click)="editUser(element)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button *ngIf="element.disabled" color="warn" matTooltipPosition="after" matTooltip="Deseja desbloquear esse usuário?" (click)="changeElement(element)"><mat-icon>check</mat-icon></button>
        <button mat-icon-button *ngIf="!element.disabled" color="warn" matTooltipPosition="after" matTooltip="Deseja bloquear esse usuário?" (click)="changeElement(element)"><mat-icon>block</mat-icon></button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Fim table -->
