<!-- Início table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome do Funcionário </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email do funcionário </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div fxLayoutGap="10px" fxLayout="row">
        <button mat-mini-fab matTooltipPosition="after" matTooltip="Visualizar a solicitação completa"><mat-icon>remove_red_eye</mat-icon></button>
        <button mat-mini-fab matTooltipPosition="after" matTooltip="Ajustar essa solicitação"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button *ngIf="element.concluida" color="warn" matTooltipPosition="after" matTooltip="Deseja reabrir essa solicitação?"><mat-icon>close</mat-icon></button>
        <button mat-icon-button *ngIf="!element.concluida" color="warn" matTooltipPosition="after" matTooltip="Deseja marcar essa solicitação como concluída?"><mat-icon>checked</mat-icon></button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Fim table -->
