<div id="bg-login">
  <div class="login-form">
      <h1 class="form-title">Bem vindo ao <span class="text-accent">Painel Administrativo</span>.</h1>
      <div class="form-content">
          <p>
              <mat-form-field appearance="outline">
                  <mat-label>Usuário</mat-label>
                  <input type="text" matInput placeholder="Usuário" autocomplete="username" [(ngModel)]="username" #email>
              </mat-form-field>
          </p>

          <p>
              <mat-form-field appearance="outline">
                  <mat-label>Senha</mat-label>
                  <input [type]="isShowPassword ? 'text' : 'password'" matInput placeholder="" [(ngModel)]="password" autocomplete="password" #pass>
                  <button mat-icon-button matSuffix (click)="isShowPassword = !isShowPassword"><mat-icon> {{isShowPassword ? 'visibility' : 'visibility_off'}} </mat-icon></button>
              </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
              {{ error }}
          </p>

          <div class="button">
              <button mat-raised-button color="primary" [disabled]="!username || !password || loading" (click)="submit()" type="submit">Login</button>
              <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
          </div>
      </div>
  </div>
</div>
