<div id="bg-login">
  <div class="login-form">
      <h1 class="form-title">Bem vindo ao <span class="text-accent">Painel Administrativo</span>, aqui você poderá criar bolões.</h1>
      <form class="form-content" [formGroup]="loginFormGroup" (ngSubmit)="submit()">
          <p>
              <mat-form-field appearance="outline">
                  <mat-label>E-mail</mat-label>
                  <input type="text" matInput placeholder="E-mail" formControlName="email" #email>
              </mat-form-field>
          </p>

          <p>
              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput formControlName="password" #pass>
              </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
              {{ error }}
          </p>

          <div class="button">
              <button mat-raised-button color="accent" [disabled]="loginFormGroup.invalid" type="submit">Login</button>
          </div>
      </form>
  </div>
</div>
