<div class="linha" id="linhaTopo">
  <div class="topo1"></div>
  <div class="topo2"></div>
  <div class="topo3"></div>
</div>
<mat-toolbar>
  <div class="toolbar row-auto flex text-center">
    <img src="./assets/img/logo-iracema.png">
    <div class="menu max-[600px]:hidden block" fxLayoutGap="20px">
      <button mat-raised-button class="button" id="solicitacoes" [routerLinkActive]="['activeButton']" [routerLink]="['solicitacoes']">Solicitações</button>
      <button mat-raised-button class="button" id="boloes" [routerLinkActive]="['activeButton']" [routerLink]="['boloes']">Bolões</button>
      <button mat-raised-button class="button" id="usuarios" [routerLinkActive]="['activeButton']" [routerLink]="['usuarios']">Usuários</button>
      <button mat-raised-button [matMenuTriggerFor]="userMenu" color="accent"><mat-icon style="width: 18px; height: 18px; font-size: 18px; margin-right: 5px;">person</mat-icon>{{ usuarioAtual() }}</button>
    </div>
    <div class="hidden max-[600px]:block">
      <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><mat-icon>menu</mat-icon></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['solicitacoes']">Solicitações</button>
        <button mat-menu-item [routerLink]="['boloes']">Bolões</button>
        <button mat-menu-item [routerLink]="['usuarios']">Usuários</button>
        <button mat-menu-item (click)="logoff()">Sair do sistema</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-menu #userMenu="matMenu" xPosition="before">
  <button mat-menu-item disabled>Editar Perfil</button>
  <button mat-menu-item (click)="logoff()">Logoff</button>
</mat-menu>
<router-outlet></router-outlet>
