<mat-card class="call">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="cheader">
        <mat-card-title>{{card.type}}</mat-card-title>
        <div fxLayoutGap="10px">
            <button mat-mini-fab (click)="editCard()"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab (click)="deleteCard()" color="warn"><mat-icon>delete</mat-icon></button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <app-card [card]="card"></app-card>
    </mat-card-content>
</mat-card>