#whatsapp{
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}
#toTop{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
@media screen and (max-width: 760px) {
  #whatsapp{
    right: 1rem;
  }
  #toTop{
    right: 1rem;
  }
}
