#whatsapp{
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  background-color: rgb(35, 192, 35);
}
#toTop{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #1E364B;
}
@media screen and (max-width: 760px) {
  #whatsapp{
    right: 1rem;
  }
  #toTop{
    right: 1rem;
  }
}
